<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="stuff.colocviuschelet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- - Lab 2 -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- - Lab 3 & 4 -->

        <activity
            android:name=".InvokedActivity"
            android:label="@string/title_activity_invoked"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="stuff.colocviuschelet.InvokedActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".InvokerActivity"
            android:label="@string/title_activity_invoker"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--- Lab 5 -->
        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity
            android:name=".ServiceActivity"
            android:label="@string/title_activity_service"
            android:theme="@style/AppTheme.NoActionBar" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
